#hideSidebarButton {
  position: fixed;
/* Highrise/Button patch*/
  width:20px;
  height:122px;
  z-index:11;
}

#hideSidebarButton:hover {
  cursor:pointer;
}

.hide {
/* Highrise/Button patch*/
  background:url("../images/sidebar.png") 0 0;
}

.show {
/* Highrise/Button patch*/
  background:url("../images/sidebar.png") 0 0;
}

#sidebarHandler {
  position: absolute;
  float: left;
  top:50px;
/* Highrise/Button patch*/
  right:12px;
  margin-top:50px;
  margin-right: 7px;
  z-index: 11;
}

/* Highrise/Button patch*/
#sidebar {
  width: 20% !important;
}
#content {
  position: relative;
  /* Highrise/Button patch*/
  # padding: 6px 33px 10px 10px;
  padding: 6px 30px 10px 10px;
}